body { 
    background-image: url("https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg"); /*Bakgrunds bild på hemsidan*/
	background-size: cover;
	background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif; /*Default font family*/
}

.navbar li { 
    font-size: 2em; /*storlek på texten*/
    font-family: Arial;  
    color: black; /*Färg på texten*/
    list-style-type: none; /*Ta bort punkter på listan*/
    padding-top: 10px; /*Gör navigationsmenyn större på höjden*/
    padding-bottom: 10px; /*Flyttar navigationsmenyn neråt så det blir mer mellanrum mellan texten*/
    box-shadow: 0px 0px 22px 10px rgba(255,255,255,0.75); /*Skuggor på sidan av navigationsmenyn*/
    text-align: center; /*Ändrar texten till mitten*/
	background-color: white;
	transition: ease transform .3s; /*transformerar navbaren till att åka lite utåt*/
	min-width: 150px;
}

.navbar li:hover {
	transform: scale(1.1); /*transformerar navbaren till att åka lite utåt*/
	box-shadow: 0px 0px 22px 10px rgba(255,0,0,0.75);
}

.navbar ul { 
    list-style-type: none;
    padding: 0;
	display: flex; /*Lägger navbar på en linje istället för rakt neråt*/
	justify-content: space-between; /*Gör mellanrum mellan varje objekt i listan*/
}

.navbar a { 
    color: black;
    text-decoration: none; /*Ta bort understräck*/
	padding: 0;
}

a:link {
    color: white;
}

a:visited {
    color: #050000;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #ff0000;
}

h1 { 
    text-align: center;
    background-color: #ffffff; /*Bakgrundsfärg på huvudrubrik*/
    color: black;
    width: 10%; /*bredden på rubrik*/
    margin: 0 auto; /*position på texten*/
    padding: 25px 25px; /**/
    margin-bottom: 50px; /**/
	border-radius: 10px; /*runda hörn*/
	box-shadow: 0px 0px 22px 10px rgba(255,255,255,0.75);
}

h2 { 
    margin: 0;
}

li.active a { 
    color: red;
}

li.active {
	box-shadow: 0px 0px 22px 10px rgba(255,0,0,0.75);
	transform: scale(1.1);
}

.pictureright {
	width: 15%; /*bredd på bild*/
    float: right; /*position på bilden*/
}

.picturecloseright {
	width: 15%;
    height: 187px; /*höjd på bild*/
    float: right;
}

.picturecloseleft {
	width: 17%;
    height: 213px; 
    float: left; 
}

.pictureleft {
	width: 15%; 
    float: left; 
}

.picturecloseleft2 {
	width: 50%;
    float: left;
	object-fit: cover;
}

.tabellpicture {
	width: 180px;
	height: 100%;
}

.text {  
    width: 50%;
    min-height: 270px; /*Minsta höjden på rektanglen*/
    padding: 25px 25px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    font-family: arial;
}

.text2 {
    width: 100%;
    min-height: 605px; /*Minsta höjden på rektanglen*/
    padding: 25px 25px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    font-family: arial;
}

main.om {
	display: grid; /*gör det till en grid*/
	grid-template-columns: 45% auto 45%; /*storleken på griden*/
	margin-top: 100px;
}
	
main.om>section{
	display: flex;
}

form {
	text-align: left;
}

table, th, td {
	border: 2px solid white;
	border-collapse: collapse;
	color: white;
	padding: 20px;
	text-align: center;
}

th, td {
	width: 100px;
	height: 100px;
}

#lista {
	color: white;
	float: right;
	border: 2px solid white;
	padding: 20px;
	width: 100px;
	height: 100px;
	margin: auto;
}

footer {
	color: red;
	text-align: center;
	background-color: black;
}

.formhelper {
	display: flex;
	flex-direction: column; /*lägger dem i en kolumn*/
	align-items: center; /*centrerar dem*/
}
